@model OrderedPagingViewModel


@if (Model.Data?.Any() != true)
{
    <p>No results found.</p>
}
else
{
    <paging 
        class="my-4"
        use-htmx="false"
            model="@Model">
    </paging>
    
    <table class="table table-auto text-black dark:text-white">
        <thead class="bg-gray-200 dark:bg-gray-800 text-black dark:text-white">
        <th>
            <sortable-header column="Id"
                             current-order-by="@Model.OrderBy"
                             descending="@Model.Descending"
                             controller="Home"
                             use-htmx="false"
                             action="PageSortTagHelperNoHtmx"
                            >@Html.DisplayNameFor(x => x.Data.First().Id)
            </sortable-header>
        </th>
        <th>
            <sortable-header column="Name"
                             current-order-by="@Model.OrderBy"
                             descending="@Model.Descending"
                             controller="Home"
                             use-htmx="false"
                             action="PageSortTagHelperNoHtmx"
                             >@Html.DisplayNameFor(x => x.Data.First().Name)
            </sortable-header>
        </th>
        <th>
            <sortable-header column="@nameof(FakeDataModel.CompanyAddress)"
                             current-order-by="@Model.OrderBy"
                             descending="@Model.Descending"
                             controller="Home"
                             use-htmx="false"
                             action="PageSortTagHelperNoHtmx"
                            >@Html.DisplayNameFor(x => x.Data.First().CompanyAddress)
            </sortable-header>
        </th>
        <th>
            <sortable-header column="@nameof(FakeDataModel.CompanyCity)"
                             current-order-by="@Model.OrderBy"
                             descending="@Model.Descending"
                             controller="Home"
                             use-htmx="false"
                             action="PageSortTagHelperNoHtmx"
                       >@Html.DisplayNameFor(x => x.Data.First().CompanyCity)
            </sortable-header>
        </th>
        <th>
            <sortable-header column="@nameof(FakeDataModel.CompanyCountry)"
                             current-order-by="@Model.OrderBy"
                             descending="@Model.Descending"
                             controller="Home"
                             use-htmx="false"
                             action="PageSortTagHelperNoHtmx"
                         >@Html.DisplayNameFor(x => x.Data.First().CompanyCountry)
            </sortable-header>
        </th>
        <th>
            <sortable-header column="@nameof(FakeDataModel.CompanyEmail)"
                             current-order-by="@Model.OrderBy"
                             descending="@Model.Descending"
                             controller="Home"
                             use-htmx="false"
                             action="PageSortTagHelperNoHtmx">@Html.DisplayNameFor(x => x.Data.First().CompanyEmail)
            </sortable-header>
        </th>
        <th>
            <sortable-header column="@nameof(FakeDataModel.CompanyPhone)"
                             current-order-by="@Model.OrderBy"
                             descending="@Model.Descending"
                             controller="Home"
                             use-htmx="false"
                             action="PageSortTagHelperNoHtmx">@Html.DisplayNameFor(x => x.Data.First().CompanyPhone)
            </sortable-header>
        </th>
        </thead>
        <tbody>
        @foreach (var item in Model.Data)
        {
            <tr class="even:bg-gray-100 odd:bg-white dark:even:bg-gray-800 dark:odd:bg-gray-900">
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.CompanyAddress</td>
                <td>@item.CompanyCity</td>
                <td>@item.CompanyCountry</td>
                <td>@item.CompanyEmail</td>
                <td>@item.CompanyPhone</td>
            </tr>
        }
        </tbody>
    </table>
}