@using Microsoft.AspNetCore.Mvc.TagHelpers
@using mostlylucid.pagingtaghelper.Components
@using mostlylucid.pagingtaghelper.Extensions
@model PagingViewModel
@{
    var previewModel = new PreviewPartialViewModel();
    previewModel.Description = "This example shows the basic usage of the PagingTagHelper with a model. It also disables the HTMX functionality and uses the Javascript snippet to handle the paging.";
}

<partial name="_PreviewPartial" model="previewModel"/>

<table class="table-auto">
    <thead>
    <th>@Html.DisplayNameFor(x => x.Data.First().Id)</th>
    <th>@Html.DisplayNameFor(x => x.Data.First().Name)</th>
    <th>@Html.DisplayNameFor(x => x.Data.First().CompanyAddress)</th>
    <th>@Html.DisplayNameFor(x => x.Data.First().CompanyCity)</th>
    <th>@Html.DisplayNameFor(x => x.Data.First().CompanyCountry)</th>
    <th>@Html.DisplayNameFor(x => x.Data.First().CompanyEmail)</th>
    <th>@Html.DisplayNameFor(x => x.Data.First().CompanyPhone)</th>
    </thead>
    <tbody>
    @foreach(var item in Model.Data)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.CompanyAddress</td>
            <td>@item.CompanyCity</td>
            <td>@item.CompanyCountry</td>
            <td>@item.CompanyEmail</td>
            <td>@item.CompanyPhone</td>
        </tr>
    }
    </tbody>
</table>

<paging model="Model"
        use-htmx="false"
        class="mt-4">
</paging>

@Html.PageSizeOnchangeSnippet()