@using mostlylucid.pagingtaghelper.Extensions
@model mostlylucid.pagingtaghelper.Models.TagModels.PageSizeModel
@{
    var pagerId = Model.PagerId;
    var htmxAttributes = "";

    if (Model.UseHtmx)
    {
        htmxAttributes = $"hx-get=\"{Model.LinkUrl}\"  hx-push-url=\"true\"";
    }
    else
    {
        <input class="linkUrl" type="hidden" value="@Model.LinkUrl" />
    }
}
<div class="me-3 page-size-container">
    <input type="hidden" class="useHtmx" value="@Model.UseHtmx.ToString().ToLowerInvariant()"/>
    <label for="pageSize-@pagerId" class="form-label me-2">@(Model.Localizer?.PageSizeLabel ?? "Page size:"):</label>
    <select id="pageSize-@pagerId" name="pageSize" class="form-select form-select-sm d-inline w-auto" @Html.Raw(htmxAttributes)>
        @foreach (var option in Model.PageSizes)
        {
            <option value="@option" selected="@(option == Model.PageSize ? "selected" : null)">@option</option>
        }
    </select>
</div>

@if (Model.UseHtmx)
{
@Html.HTMXPageSizeChange()
}
else
{
    @Html.PageSizeOnchangeSnippet()
}