@model mostlylucid.pagingtaghelper.Models.TagModels.PageSizeModel
@{
    var pagerId = Model.PagerId;

    var htmxAttributes = "";

    if (Model.UseHtmx)
    {
        htmxAttributes = $"hx-get=\"{Model.LinkUrl}\" hx-trigger=\"change\"";

        var queryKeys = Context.Request.Query.Keys;
        foreach (var key in queryKeys)
        {

            htmxAttributes += $",#{pagerId} [name='{key}']";
        }
        htmxAttributes += " hx-push-url=\"true\"";
    }
    else
    {
        <input class="linkUrl" type="hidden" value="@Model.LinkUrl" />
    }
}
<div class="flex items-center page-size-container">
    <input type="hidden" class="useHtmx" value="@Model.UseHtmx.ToString().ToLowerInvariant()"/>
    <label for="pageSize-@pagerId" class="text-sm text-gray-600 dark:text-gray-300 mr-2 whitespace-nowrap">Page size:</label>
    <select id="pageSize-@pagerId"
            name="pageSize"
            class="border rounded select select-primary select-sm pt-0 mt-0 min-w-[80px] pr-4 bg-white text-black
                               dark:bg-gray-800 dark:text-white dark:border-gray-600"
            @Html.Raw(htmxAttributes)>
 
            @foreach (var option in Model.PageSizes)
            {
                <option value="@option" selected="@(option == Model.PageSize ? "selected" : null)">@option</option>
            }
   
    </select>
</div>