@model mostlylucid.pagingtaghelper.Models.TagModels.PageSizeModel
@{
    var pagerId = Model.PagerId;
    
    var htmxAttributes = "";

    if (Model.UseHtmx)
    {
        htmxAttributes = $"hx-get=\"{Model.LinkUrl}\" hx-trigger=\"change\"";
        
        var queryKeys = Context.Request.Query.Keys;
        foreach (var key in queryKeys)
        {
              
            htmxAttributes += $",#{pagerId} [name='{key}']";
        }
        htmxAttributes += " hx-push-url=\"true\"";
    }
    else
    {
        <input class="linkUrl" type="hidden" value="@Model.LinkUrl" />
    }
}
<div class="page-size-container">
    <input type="hidden" class="useHtmx" value="@Model.UseHtmx.ToString().ToLowerInvariant()"/>
    <label for="pageSize-@pagerId">Page size:</label>
    <select id="pageSize-@pagerId" name="pageSize" @Html.Raw(htmxAttributes)>
        @foreach (var option in Model.PageSizes)
        {
            <option value="@option" selected="@(option == Model.PageSize ? "selected" : null)">@option</option>
        }
    </select>
</div>